/JK2501105/Assignment 2/Project_1/build/
/JK2501105/Assignment 2/Project_1/dist/
/JK2501105/Assignment 2/Problem 2/build/
/JK2501105/Assignment 2/Problem 2/dist/
/JK2501105/Assignment 2/Problem_2/build/
/JK2501105/Assignment 2/Problem_2/dist/
/JK2501105/Assignment 2/Problem_1/build/
/JK2501105/Assignment 2/Problem_1/dist/
/JK2501105/Assignment 2/Problem_5/build/
/JK2501105/Assignment 2/Problem_5/dist/
/JK2501105/Assignment 2/Problem 6/build/
/JK2501105/Assignment 2/Problem 6/dist/
/JK2501105/Assignment 2/Problem_7/build/
/JK2501105/Assignment 2/Problem_7/dist/
/JK2501105/Assignment 2/Problem_6/dist/
/JK2501105/Assignment 2/Problem_6/build/
/JK2501105/Assignment 2/Problem_8/build/
/JK2501105/Assignment 2/Problem_8/dist/
/JK2501105/Assignment 2/Problem_9/build/
/JK2501105/Assignment 2/Problem_9/dist/
/JK2501105/Assignment 2/Problem_10/build/
/JK2501105/Assignment 2/Problem_10/dist/
/JK2501105/TruthTable/build/
/JK2501105/TruthTable/dist/
/ck2486296/TruthTable/dist/
/ck2486296/TruthTable/build/